@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}

h1
{
	font-family: 'Source', sans pro;
	color: #996666;
	margin-bottom: 0;
	display: inline-block;
	font-weight: 300;
}

#mastercontainer{
	position: relative;
}

#mobilenavbar
{
	display: none;
}

#me
{
	width: 25%;
}

@media only screen and (max-width: 768px)
{

#navbar{
	display: none;
}
	
#mobilenavbar{
	display: block;
	position: absolute;
	top: 0;
	right: 20px;
	cursor: pointer;
}

}
